.App {
  text-align: center;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #5C2E0D;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.formulario {
  padding-top: 7vw;
}

button {
  font-size: 2vw;
  color: white;
  background-color: black;
}

input {
  font-size: 2vw;
  text-align: center;
  border: 2px solid black;
  border-radius: 4px;
  background-color: #E0DDDC;
}

html {
  background-color: #F8E9DE;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
