.App {
  text-align: center;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background: #f0b7a1; /* Old browsers */
background: -moz-linear-gradient(left, #f0b7a1 0%, #752201 0%, #893c10 10%, #893c10 11%, #893c10 11%, #ff1e1e 12%, #ff1e1e 14%, #ff1e1e 14%, #f4d01d 15%, #f4d01d 17%, #5aea1c 19%, #5aea1c 19%, #5aea1c 20%, #1d4cf7 22%, #1d4cf7 22%, #1d4cf7 23%, #1d4cf7 23%, #893c10 24%, #893c10 81%, #000000 82%, #000000 86%, #000000 92%, #893c10 92%, #8c3310 100%, #bf6e4e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #f0b7a1 0%,#752201 0%,#893c10 10%,#893c10 11%,#893c10 11%,#ff1e1e 12%,#ff1e1e 14%,#ff1e1e 14%,#f4d01d 15%,#f4d01d 17%,#5aea1c 19%,#5aea1c 19%,#5aea1c 20%,#1d4cf7 22%,#1d4cf7 22%,#1d4cf7 23%,#1d4cf7 23%,#893c10 24%,#893c10 81%,#000000 82%,#000000 86%,#000000 92%,#893c10 92%,#8c3310 100%,#bf6e4e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #f0b7a1 0%,#752201 0%,#893c10 10%,#893c10 11%,#893c10 11%,#ff1e1e 12%,#ff1e1e 14%,#ff1e1e 14%,#f4d01d 15%,#f4d01d 17%,#5aea1c 19%,#5aea1c 19%,#5aea1c 20%,#1d4cf7 22%,#1d4cf7 22%,#1d4cf7 23%,#1d4cf7 23%,#893c10 24%,#893c10 81%,#000000 82%,#000000 86%,#000000 92%,#893c10 92%,#8c3310 100%,#bf6e4e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=1 );
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 4.5vw;
  font-family: 'Coiny', cursive;
}

.App-intro {
  font-size: large;
}

.formulario {
  padding-top: 7vw;
}

img {
    border-radius: 50%;
}

header {
  width: 100%;
  height: auto;
}

button {
  font-size: 2vw;
  color: white;
  background-color: black;
}

input {
  font-size: 2vw;
  text-align: center;
  border: 2px solid black;
  border-radius: 4px;
  background-color: #E0DDDC;
}

html {
  background-color: #F8E9DE;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
